﻿@model Hotel.DAO.PublicModel.Reservation

<h4>Reservation</h4>
<hr />

@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    @ViewBag.Error
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-12 sugestion">
            @Html.LabelFor(model => model.GuestID, htmlAttributes: new { @class = "control-label" })
            <input type="text" id="searchQuery"
                   data-autocomplete-source="@Url.Action("Sugestions", "Guest")"
                   class="form-control"
                   name="GuestID"
                   value="@ViewBag.NameGuest"
                   placeholder="Wyszukaj gościa" />
            @Html.ValidationMessageFor(model => model.GuestID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Room, ViewBag.Rooms as SelectList, "Kategoria pokoju", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "fromDate" } })
            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "toDate" } })
            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-block btn-warning">
                Zapisz
            </button>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/AutoComplete.js"></script>

}
