﻿@model Hotel.DAO.PublicModel.Reservation

<h4>Reservation</h4>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.GuestID)

    @if (Model.IsConfirmed)
    {
        @Html.HiddenFor(model => model.Room)
        @Html.HiddenFor(model => model.IsConfirmed)
    }

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
            @if (Model.Unregister
               || Model.IsConfirmed)
            {
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = Model.IsConfirmed ? "" : "fromDate", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = Model.IsConfirmed ? "" : "fromDate" } })
            }
            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
            @if (Model.Unregister
               || Model.IsConfirmed)
            {
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = Model.IsConfirmed ? "" : "toDate", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = Model.IsConfirmed ? "" : "toDate" } })
            }
            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (!Model.IsConfirmed)
    {

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Room, ViewBag.Rooms as SelectList, "Kategoria pokoju", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.IsConfirmed)
                @Html.CheckBox(nameof(Model.IsConfirmed), Model.IsConfirmed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
            </div>
        </div>


    }
    else
    {
        @if (!Model.Unregister)
        {
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Unregister)
                    @Html.CheckBox(nameof(Model.Unregister), Model.Unregister, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Unregister, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-12">
                    Zostałeś już wyrejestrowany z pokoju
                </div>
            </div>
        }
    }

    @if (!Model.IsConfirmed
     || !Model.Unregister)
    {
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-block btn-warning">
                    Zapisz
                </button>
            </div>
        </div>
    }


}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
