﻿@model IEnumerable<Hotel.DAO.PublicModel.Room>

@{
    ViewData["Title"] = "Index";
}

@{await Html.RenderPartialAsync("_SearchForm", "Wyszukaj pokój"); }

<p>
    <a asp-action="Create">Dodaj nowy pokój</a>
</p>

@{ await Html.RenderPartialAsync("_ServerResponseInfo", @TempData["CRUDinfo"]); }

<div class="outer-container">
    <div class="table-responsive">
        <table class="table table-striped data-details">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status.Available)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount) zł
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Available)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Category)
                        </td>
                        <td>
                            @Html.ActionLink("edy", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("kas", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>