﻿
@if (TempData["CRUDinfo"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["CRUDinfo"]
    </div>
}