﻿div {
    &.Remove-Confirm-Container {
        position: relative;
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
    }

    i {
        &.remove-text-icon {
            display: none;
            align-items: center;
            height: 100%;
            position: absolute;
            right: .6rem;
            top: 0;
            bottom: 0;
            margin: auto;
            &:hover{
                cursor: pointer;
            }
        }
    }

    &.search-container {
        display: flex;
        width: 100%;
        max-width: 100%;
        margin: 5px 0;
        position: relative;

        input {
            width: 100%;
            max-width: 100%;
            padding: 10px 10px;
            transition: all .5s ease-in-out;
            padding: 1.5rem 1.5rem 1.5rem 0.5rem;
            position: relative;
        }

        &::after {
            position: absolute;
            content: " ";
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            right: 1.5rem;
            height: 80%;
            margin: auto;
            width: 6rem;
            background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
            background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
            background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
        }
    }
}
