﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav > div.container, .navbar-collapse {
    transition: all .3s ease-in-out;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    -moz-animation: fade 2s; /* Firefox */
    -webkit-animation: fade 2s; /* Safari and Chrome */
    -o-animation: fade 2s;
    animation: fade 2s; /* Opera */
    transition: all .1s ease;
    overflow-x: hidden;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*loader*/

div.main-loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999999;
    display: flex;
    margin: -2.5rem 0 0 -2.5rem;
    z-index: 99999999999;
    transition: all .2s ease;
}

    div.main-loader > i {
        font-size: 5rem;
        color: black;
    }

/*custom table style*/
.table {
    color: black;
}

@media (min-width: 1201px) {
    .table {
        min-width: 1100px;
    }
}


.outer-container {
    position: relative;
}

    .outer-container::after {
        position: absolute;
        content: " ";
        top: 0;
        right: 0;
        height: 100%;
        width: 1rem;
        background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 95%);
    }

    .outer-container::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 1rem;
        background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 95%);
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 95%);
    }

.data-details th, td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .table-responsive {
        width: 100%;
        max-width: 100%;
        overflow: hidden !important;
    }

    .data-details thead {
        display: none;
    }

    .data-details td {
        display: block;
        text-align: center;
    }
}
/*--/--*/
/*select selte*/
select, select.form-control {
    padding: 0.5rem 0.5rem;
}
/*---/---*/

/*to top page*/
#toTopPage{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 3rem;
    display: none;
    z-index: 99999;
    cursor: pointer;
    opacity: .6;
}
/*---/----*/