﻿@model Hotel.DAO.PublicModel.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja pokoju</h1>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.RoomNr, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RoomNr, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
            @Html.ValidationMessageFor(model => model.RoomNr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Status.Available, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Status.Available, ViewBag.Status as SelectList, "Czy wolny", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status.Available, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Category.Category, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Category.Category, ViewBag.Cattegory as SelectList, "Kategoria pokoju", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category.Category, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-block btn-warning">
                Zapisz
            </button>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}